/*General Styles*/
* {
    box-sizing: border-box;
    margin: 0; 
}
html, body{
    background-color: lightgray;
    height: 100vh;
    width: 100vw;
    margin:0;
}
h3{
    margin-top: 10px;
}
input {
    margin-bottom: 10px;
} 
.hide{
    display: none;
}
#results {
    text-align: center;
}
.current-icon {
    margin: auto;
    margin-bottom: 10px;
}
.display {
    margin-top:10px;
}
/*Forecast info Styles*/
.forecast-card {
    background-color: #007bff !important;
    margin-right: 5px;
    text-align: center;
    margin-bottom: 5px;
}
.forecast-class {
    display: flex;
    justify-content: space-between;
    border-radius: .25rem;
    width: max-content;
    margin-bottom: 50px;
}
.forecast-icon {
    width: 50px;
    height: 50px;
}
/*Media Queries*/
@media (max-width: 576px) {
    .forecast-class {
        flex-direction: column;
        width: auto;
    }
    h3 {
        text-align: center;
    }
    .center {
        text-align: center;
    }
    .btn-dis {
        margin: auto !important;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }
}
@media (min-width: 577px) and (max-width: 767.98px) {
    body {
        overflow-x:hidden;  
    }
    .forecast-class {
        flex-direction: column;
        width: auto;
    }
    .center {
        text-align: center;
    }
    .btn-dis {
        margin: auto !important;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) { 
    .forecast-class {
        flex-direction: column;
        width: auto;
    }
    #search-btn{
        width: 185px;
    }
}
/*General button styles*/
button.blue {
    background-color: #007bff;
    margin-bottom: 5px;
    color:white ;
}
.btn-dis {
    width: 185px;
    margin: 0;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}
/*UV button style*/
button.green {
    background-color: green;
    color: black;   
    border-radius: 5px;
    outline: none;
}
button.yellow {
    background-color: yellow;
    color:black;   
    border-radius: 5px;
    outline: none;
}
button.orange {
    background-color: orange;
    color:black;   
    border-radius: 5px;
    outline: none;
}
button.red {
    background-color: red;
    color:black;   
    border-radius: 5px;
    outline: none;
}
button.purple {
    background-color: purple;
    color:black;   
    border-radius: 5px;
    outline: none;
}